body {

}

/*site header*/
.page-header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between
}

.logo {
  padding-left: 90px;
  color: #12B2CB;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
}

.search {
  padding-right: 150px;
}
